<div class="center row">
  <%= form_tag('/blog', method: :post) do %>
    <h4>投稿する</h4>
    <textarea cols="40" name="text" placeholder="本文を入力してください" rows="20"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>